
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  
  	<%= image_tag "IMG_1850.jpg", :class => "style_image" %>
    <div class="about col-10 offset-1">
		  	
			  <h1>Ashley IRAE</h1>
			  <h2>Yoga Instructor</h2>
			  <hr class="grey" />
				  <div id="rotate">
				  <p class="bio">
					Ashley IRAE is a professional
				    yoga instructor specializing in Hatha yoga.
				    She has extensive experience with private clients, retreats, classroom training,
				    and instructor.
				  </p>
				  <p class="bio">
					"Ashley is one of the best instructors in Orange County and we are lucky to have her here."<br>~ Gillian Poe
				  </p>
				  <p class="bio">
					“There are many talented yoga teachers in Orange County.  One who stands out and is one of my favorites is Ashley IRAE."<br> ~ Lisa Berendt
				  </p>
				  
			</div>
					<h3>Bio</h3>
				  <hr class="yellow" />
				  <p class="bio">
				    Ashley IRAE was born in the small city of Placentia, CA. Musical talent came from both sides of her family, mainly her grandparents. Ashley began singing since the age of 5 and throughout elementary school she was involved in choir and performed with a group as well as solo performances. Throughout high school and college Ashley was influenced by an array of musical genres including country, pop, jazz, soulful, classical, and blues. "Ever since I was a likkle one, I knew JAH provided Me with this gift to serve through my voice and music, I just had some soul searching to do before I found my roots," says Ashley IRAE reflecting upon her past. From the age of 17-19 she continued with voice lessons on and off and began working with a couple different independent producers. "Luckily I went through much of my darkness within a 5 year period at a very young age and found my way to JAH light, Reggae music is where I found my roots," says ms IRAE. Around age 22-23 after going through much self destruction, Ashley IRAE came to a clearing point as she states an "Awakening". "I discovered the love for myself and when you love yourself JAH loves you because JAH is love and that's what I discovered through the ancient practices of yoga, and RASTAFARI, spirituality and oneness." She is also now a yoga, meditation and Pilates instructor. Once she found her path and her love for Roots Reggae Music she has immersed herself in writing and taught herself how to play the ukulele and guitar. At the beginning of 2016 she joined "The Humble Servant Band" as the lead singer and amicably parted ways in late 2016 but cherishes the starting experience. At the end of 2016 she joined forces with a divine feminine collaboration called "Soultry Sound System" with three female vocalists and a female Live Dub artist from Long Beach, CA. She has also manifested her new band Raw Livity a predominantly female band with 3 lovely feminines and 2 divine masculines from Orange and LA county. "The band name Raw Livity means simply this: Livity is living in your divine essence, your highest creative purpose; righteousness; consciousness. Raw is that authenticity that ties it all together. We stand for the MOST high truth in these shifting times of consciousness we vibrate More life. More love. More Livity."- Ashley IRAE. Forever shining light to the darkness. Ashley is grateful to continue recording, continue this movement and aspiring to travel the world sharing her music and her teaching of yoga and higher consciousness.
				  </p>
		
   
	
      <div class="row">
        
        	<br />
 
        	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width: 900px; margin: 0 auto">
        		<ol class="carousel-indicators">
        			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
        			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
        		</ol>
 
        		<div class="carousel-inner" role="listbox">
        			<div class="carousel-item active">
        				<div class='inner-item'>
		        				<%= image_tag "IMG_1851.jpg" %>
		        				
		        				<div class="carousel-caption">
		        					<h2>Meditation for the Mind</h2>
		        					<p>Spirit and Soul...</p>
        						</div>
        					</div>
        			</div>
 
        			<div class="carousel-item">
        				<div class='inner-item'>
			        				<%= image_tag "IMG_1847.jpg" %>
			  
			        				<div class="carousel-caption">
			        					<h2>Ashley giving Thanks! </h2>
			        					<p>Jah Rastafari!!!</p>
			        				</div>
			        	</div>
        			</div>
 
        			<div class="carousel-item">
        				<div class='inner-item'>
		        				<%= image_tag "IMG_1848.jpg" %>
		        				
		        				<div class="carousel-caption">
		        					<h2>One with the Almighty</h2>
		        					<p>Positive Vibrations!!!</p>
		        				</div>
        				</div>
        			</div>
        		</div>
 
        		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        			<span class="icon-prev" aria-hidden="true"></span>
        			<span class="sr-only">Previous</span>
        		</a>
 
        		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        			<span class="icon-next" aria-hidden="true"></span>
        			<span class="sr-only">Next</span>
        		</a>
        	</div>
        
      </div
    </div>
  </body> 
</html>