<h1>Schedule:</h1><br><br>
<p class="sched"><b>Monday's:</b><br>
open for privates <br><br>

<b>Tuesday's:</b><br> 830am  and 930am<br> 
Reformer level 1/2 intermediate @ Power Pilates, 544 El Camino Real Tustin CA<br><br>
                   530pm<br>
Reformer Level 1/2 intermediate @ Pilates in the Canyon, 7526 E Chapman Ave Orange CA<br><br>
                   630pm <br>
Reformer level 1 Deep stretching @ Pilates in the Canyon , 7526 E Chapman Ave Orange CA<br><br><br>

<b>Wednesday's:</b><br> 9am<br>
Hatha Kemetic Yoga @ One Body Studios, 2424 W Whittier Blvd La Habra CA<br><br>
                         515pm<br>
Reformer Pilates  @ One Body Studios, 2424 W Whiitier Blvd La Habra CA<br><br>
                          630pm<br>
Mat Pilates @One Body Studios, 2424 W Whittier Blvd La Habra CA<br><br><br>

<b>Thursday's: (two morning classes same as Tuesday's)</b><br> 
                    515pm<br>
Reformer Pilates with props @One Body Studios (same address above) <br><br>
                     615pm<br>
Beginner Reformer Pilates @One Body Studios <br><br><br>

<b>Friday's: </b><br>open for privates <br><br>

<b>Saturday's:</b><br> 745am <br>
Breathe centered yoga and meditation @ Full Circle Yoga & Healing Arts, 17451 Bastanchury Rd Yorba Linda CA <br><br>
                   9am <br>
Meditative Flow- All levels @ (same location) <br><br><br>

<b>Sunday's: </b><br>830am <br>
Reformer Pilates  level 2 @ Prima Pilates, 100 S Chaparral Ct Anaheim Hills CA<br><br>
                 930am and 1130am<br> 
Reformer Pilates and yoga fusion @ (same location)<br><br> 
                   1030am <br>
Reformer Pilates level 1 @ (same location) <br>
    </p>